<div class="header">
  <h4 *ngIf="editMode == false">Adicionar Pergunta</h4>
  <h4 *ngIf="editMode == true">Editar Pergunta {{pergunta.id}}</h4>
  
  <button mat-mini-fab id="closeDialogBtn" (click)="fecharDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<mat-form-field id="descPergunta">
  <input matInput placeholder="Descrição da Pergunta" [(ngModel)]="pergunta.descricao">
</mat-form-field>

<mat-divider></mat-divider>

<div class="listaPerguntas">
  <button mat-raised-button (click)="adicionarResposta()" class="cadastrarBtn" id="addRespostaBtn">Adicionar Resposta</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Resposta</th>
        <th scope="col">Correta</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="pergunta.respostas.length < 1">
        <td>Insira Resposta</td>
        <td>Insira Resposta</td>
        <td>Insira Resposta</td>
        <td>Insira Resposta</td>
      </tr>
      <tr *ngFor="let resposta of pergunta.respostas">
        <td>{{resposta.id}}</td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Descrição da Resposta" [(ngModel)]="resposta.descricao">
          </mat-form-field>
        </td>
        <td><mat-checkbox [checked]="resposta.correta" (change)="respostaChanged(resposta.descricao)"></mat-checkbox></td>
        <td>
          <button mat-mini-fab (click)="removerResposta(resposta.descricao)" id="removerBtn" matTooltip="Remover">
            <mat-icon>remove</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<mat-divider></mat-divider>

<div class="acoesGrid">
  
  <button mat-raised-button (click)="fecharDialog()" class="cancelarBtn">Cancelar</button>
  <button mat-raised-button *ngIf="editMode == false" class="cadastrarBtn" (click)="cadastrarPergunta()">Cadastrar</button>
  <button mat-raised-button *ngIf="editMode == true" class="cadastrarBtn" (click)="cadastrarPergunta()">Editar</button>
  
</div>


