/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { font-family: 'Roboto', sans-serif; background-color: #e9e9e9; }

* {
    margin: 0;
    padding: 0;
}

.error-snackbar {
    background-color: #ff2f20;
}