<div class="content">
  <h1 class="titulo">Quiz</h1>
  
  <button mat-button id="addQuizBtn" (click)="openQuizDialog(0)">Adicionar Quiz</button>
  
  <div class="listaQuiz">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Nome do Quiz</th>
          <th scope="col">Quantidade de Perguntas</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="quizes.length < 1">
          <td>Insira Quiz</td>
          <td>Insira Quiz</td>
          <td>Insira Quiz</td>
          <td>Insira Quiz</td>
        </tr>
        <tr *ngFor="let quiz of quizes">
          <td>{{quiz.id}}</td>
          <td>{{quiz.nome}}</td>
          <td>{{quiz.quantidadePerguntas}}</td>
          <td>
            <button (click)="openQuizDialog(quiz.id)" mat-mini-fab id="editarBtn" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="removerQuiz(quiz.id)" mat-mini-fab id="removerBtn" matTooltip="Remover">
              <mat-icon>remove</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>