.content {
    margin: 20px 5%;
    display: grid;
    grid-template: 50px 50px auto / 100%;
    grid-gap: 15px;
}

#addQuizBtn {
    background-color: #4caf50;
    align-self: center;
    justify-self: end;
    height: 35px;
    color: #ffffff;
}

#editarBtn {
    background-color: #00ffff;
}

#removerBtn {
    background-color: #ff0000;
    float: right;
}