.header {
    display: grid;
    grid-template: 100% / 50% 50%;
    margin-bottom: 10px;
}

#closeDialogBtn {
    background-color: #9e9e9e;
    justify-self: end;
}

.listaPerguntas {
    margin-top: 15px;
    display: grid;
}

#addPerguntaBtn {
    justify-self: end;
    margin-bottom: 15px;
}

#quizInfoGrid {
    display: grid;
    grid-template: 100% / 35% 30% 30%;
    grid-gap: 10px;
}

#editarBtn {
    background-color: #00ffff;
    color: #ffffff;
}

#removerBtn {
    background-color: #ff0000;
    float: right;
}

.cadastrarBtn {
    background-color: #4caf50;
    color: white;
}

.cancelarBtn {
    background-color: #ff0000;
    color: white;
}

.acoesGrid {
    margin-top: 15px;
    display: grid;
    grid-template: 100% / 20% 20%;
    grid-gap: 20px;
    justify-content: end;
}