<div class="header">
  <h4 *ngIf="editMode == false">Adicionar Quiz</h4>
  <h4 *ngIf="editMode == true">Editar Quiz {{quiz.id}}</h4>
  
  <button mat-mini-fab id="closeDialogBtn" (click)="fecharDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<div id="quizInfoGrid">
  
  <mat-form-field >
    <input matInput placeholder="Nome do Quiz" [(ngModel)]="quiz.nome">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput readonly [matDatepicker]="inicioPicker" placeholder="Data Inicio Vigência" [(ngModel)]="quiz.dataInicio">
    <mat-datepicker-toggle matSuffix [for]="inicioPicker"></mat-datepicker-toggle>
    <mat-datepicker #inicioPicker></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput readonly [matDatepicker]="fimpicker" placeholder="Data Fim Vigência" [(ngModel)]="quiz.dataFim">
    <mat-datepicker-toggle matSuffix [for]="fimpicker"></mat-datepicker-toggle>
    <mat-datepicker #fimpicker></mat-datepicker>
  </mat-form-field>
  
</div>

<mat-divider></mat-divider>

<div class="listaPerguntas">
  <button mat-raised-button (click)="adicionarPergunta(0)" class="cadastrarBtn" id="addPerguntaBtn">Adicionar Pergunta</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Pergunta</th>
        <th scope="col">Quantidade de Respostas</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="quiz.perguntas.length < 1">
        <td>Insira Pergunta</td>
        <td>Insira Pergunta</td>
        <td>Insira Pergunta</td>
        <td>Insira Pergunta</td>
      </tr>
      <tr *ngFor="let pergunta of quiz.perguntas">
        <td>{{pergunta.id}}</td>
        <td>{{pergunta.descricao}}</td>
        <td>{{pergunta.respostas.length}}</td>
        <td>
          <button (click)="adicionarPergunta(pergunta.id)" mat-mini-fab id="editarBtn" matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="removerPergunta(pergunta.descricao)" mat-mini-fab id="removerBtn" matTooltip="Remover">
            <mat-icon>remove</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<mat-divider></mat-divider>

<div class="acoesGrid">
  
  <button mat-raised-button (click)="fecharDialog()" class="cancelarBtn">Cancelar</button>
  <button mat-raised-button (click)="cadastrarQuiz()" *ngIf="editMode == false" class="cadastrarBtn">Cadastrar</button>
  <button mat-raised-button (click)="cadastrarQuiz()" *ngIf="editMode == true" class="cadastrarBtn">Editar</button>
  
</div>


